<%= form_with(model: [ @article, @article.comments.build ], local:true) do |form| %>
    
    <div class="field form-group">
        <%= form.label :commenter, class: 'col-sm-2 control-label' %><br>
        <%= form.text_field :commenter, class: 'form-control col-sm-5' %>
    </div>

    <div class="field form-group">
        <%= form.label :body, class: 'col-sm-2 control-label' %><br>
        <%= form.text_area :body, class: 'form-control col-sm-5' %>
    </div>

   <p><%= form.submit %></p>

<% end %>
