
<%= form_with model: @article, local: true, html: {class: 'form-horizontal py-3'} do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <%= form.label :title, class: 'col-sm-2 control-label' %>
      <%= form.text_field :title, class: 'form-control col-sm-5' %>
  </div>
    
  <div class="field form-group">
      <%= form.label :text, class: 'col-sm-2 control-label' %><br>
      <%= form.text_area :text, class: 'form-control col-sm-5' %>
  </div>

  <div class="field form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>

