
<h1><%= @article.title %></h1>
<hr>

<div class="col-xs-12 py-3 px-3">
    <p>
        <%= @article.text %>
    </p>
</div>

<!-- HTML list comments -->
<% if @article.comments.any? %>
    <h3>Comments</h3>
    </hr>
    <div class="col-xs-12 py-3 px-3">
        <%= render @article.comments %>
    </div>
<% end %>

<!-- HTML add comments -->
<h3>Add a comment:</h3>
<hr>
<%= render 'comments/form' %>

<footer class="masterform-footer fixed-bottom px-3 py-3">
    <%= link_to 'Back', articles_path, class: "btn btn-secondary btn-sm mx-3 float-lg-right" %>    
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary btn-sm float-lg-right" %> 
</footer>
