<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-default">
        <div class="navbar-toggler navbar-toggler-left">
            <a class="navbar-brand left" href="/">My Ruby Blog</a>
        </div>
        
        <ul class="nav justify-content-end px-5">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item py-2">
            <%= link_to 'My Blog', controller: 'articles'  %>
          </li>
        </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
